p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.666rem;
}

ul li {
  list-style: none;
}
.link,
a {
  text-decoration: none;
  color: #303339;
}
form {
  margin-bottom: 1.777em;
}
.socials {
  display: flex;
  margin: 0;
  padding: 0;
}
.socials .socials_link {
  margin: 0 10px 0 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: solid 1px #eee;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  font-size: 15px;
  transition: all 0.2s;
  background-color: #fff;
  color: #000;
  cursor: pointer;
}
.socials .socials_link svg,
i {
  max-width: 100%;
  transition: all 0.2s;
  fill: currentColor;
}
.socials .socials_link:hover {
  border-color: #000;
  background-color: #000;
  color: #fff;
}
.btn {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  padding: 10px 20px;
  border: 1px solid;
  background: 0 0;
  text-transform: capitalize;
  line-height: 1;
  font-size: 16px;
  letter-spacing: inherit;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.2s, color 0.4s;
  cursor: pointer;
}
.btn--primary {
  border-color: #000;
  background-color: #000;
  color: #fff;
}
.btn--primary:hover {
  background-color: #fff;
  color: #000;
  border-color: #000;
}
.form_group {
  display: flex;
  flex-wrap: nowrap;
}
.label_group {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 15px;
  border: solid 1px #a7a7a7;
  color: #a7a7a7;
  font-size: 13px;
  line-height: 1;
  font-weight: 400;
}
.label_group > label {
  max-width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  flex-shrink: 0;
  font-size: 13px;
  line-height: 13px;
  vertical-align: middle;
  overflow: hidden;
  transition: all 0.25s;
}
.label_group > input,
.label_group > textarea {
  flex-grow: 1;
  height: 48px;
  width: inherit;
  margin: 0;
  padding: 15px 5px;
  border: none;
  background: 0 0;
  color: #000;
  font-family: inherit;
  font-size: inherit;
  line-height: 18px;
  vertical-align: middle;
}
.label_group > input::-moz-placeholder,
.label_group > textarea::-moz-placeholder {
  color: transparent;
}
.label_group > input:-ms-input-placeholder,
.label_group > textarea:-ms-input-placeholder {
  color: transparent;
}
.label_group > input::placeholder,
.label_group > textarea::placeholder {
  color: transparent;
}
li :last-child {
  margin-bottom: 0;
}
i {
  max-width: 100%;
  transition: all 0.2s;
  fill: currentColor;
}
#agent {
  background-image: linear-gradient(#fff, #fff),
    url(https://res.cloudinary.com/luxuryp/images/f_auto,q_auto/dbbtbldpp3wzmsu3s5no/gvivosflzblodixlu5w2);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#agent .link {
  position: relative;
  background: linear-gradient(currentColor, currentColor) 0 calc(100% + 1px)
    no-repeat;
  background-size: 0 1px;
  transition: background-size 0.3s;
  font-size: inherit;
  font-weight: 400;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#agent .link:hover {
  background-size: 100% 1px;
}
#agent .btn {
  margin-top: 19px;
}
.feature_content {
  min-height: 75px;
  flex-grow: 1;
  flex-basis: 100%;
  padding: 1% 2% 1% 2%;
}
.feature_content:not(:last-child) {
  border-right: 1px solid #acacac;
}
.feature_content h3 {
  padding: 0;
  text-align: center;
}
.feature_content p {
  padding: 0;
  text-align: center;
  font-size: 16px;
  margin-top: -10px;
  font-family: CompassSans, serif;
  line-height: 26px;
}
body .modal {
  position: fixed;
  overflow-y: auto;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.92);
  z-index: 1000;
  display: block;
}
body .modal .modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  min-height: 100vh;
  min-height: unset;
  padding: 0;
}
body .modal .close {
  display: block;
  position: absolute;
  right: 8vw;
  top: 8vh;
  width: 3.2em;
  cursor: pointer;
  color: #fff;
  font-size: 75%;
  border: none;
  background: 0 0;
  z-index: 2;
}
#modal_contact_us {
  bottom: 50%;
  left: 0;
  right: 0;
  top: 50%;
  display: block;
  transition: 0.3s all ease;
  overflow: hidden;
  height: 0;
  min-height: auto;
  position: relative;
  background-color: #fff;
  position: fixed;
  position: relative;
  padding-top: 84px;
}
body .modal-content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 90px 0 70px;
}
#modal_contact_us .modal-content {
  color: #303339;
}
#modal_contact_us .contact_us__close {
  width: 20px;
  height: 30px;
  display: block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  right: 30px;
  top: 30px;
  transition: 0.2s all;
}
#modal_contact_us .contact_us__close::after,
#modal_contact_us .contact_us__close::before {
  content: "";
  display: block;
  width: 22px;
  height: 2px;
  background-color: #000;
  position: absolute;
  left: 50%;
  top: 50%;
}
#modal_contact_us .contact_us__close::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
#modal_contact_us .contact_us__close::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
#modal_contact_us .contact_us__container {
  display: flex;
  justify-content: center;
  padding-top: 24px;
  padding-bottom: 24px;
}
#modal_contact_us .first_container {
  width: 510px;
  max-width: 510px;
  flex-shrink: 0;
}
#modal_contact_us .second_container {
  width: 100%;
}
#modal_contact_us .contact_us__map {
  display: block;
  width: 100%;
  height: 404px;
  visibility: hidden;
}
#modal_contact_us h2.mob {
  display: none;
}
#modal_contact_us .agent {
  list-style-type: none;
  display: flex;
  padding: 0;
  margin: 0 0 26px 0;
  flex-wrap: wrap;
}
#modal_contact_us .agent li {
  margin-right: 30px;
  margin-bottom: 15px;
}
#modal_contact_us .agent li:last-child {
  margin-right: 0;
}
#modal_contact_us .agent .feature {
  line-height: 1.33;
  margin-bottom: 4px;
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  min-height: 23px;
}
#modal_contact_us .contact_us__address {
  max-width: 200px;
  font-size: 16px;
}
#modal_contact_us .link {
  position: relative;
  transition: background-size 0.3s;
  color: #303339;
  background: linear-gradient(currentColor, currentColor) 0 calc(100% + 1px)
    no-repeat;
  background-size: 0 1px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#modal_contact_us .link:hover {
  background-size: 100% 1px;
  color: #000;
}
#modal_contact_us h2.desk {
  display: block;
}
#modal_contact_us .form_group {
  margin-bottom: 1rem;
}
.label_group.textarea {
  flex-direction: column;
}
.label_group.textarea > label {
  max-width: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 5px;
  text-align: left;
}
.label_group.textarea > textarea {
  height: auto;
  min-height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  resize: vertical;
}
#modal_contact_us .submit {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
}
.submit .btn {
  min-width: 150px;
  line-height: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  font-family: CompassSans, serif, Arial, sans-serif;
}
#modal_contact_us .socials {
  flex-wrap: wrap;
}
#modal_contact_us .socials .socials_link {
  margin: 7px 25px 7px 0;
}
#modal_contact_us .socials li:last-child .socials_link {
  margin-right: 0;
}

@media (min-width: 1212px) {
  #modal_contact_us .second_container {
    width: auto;
    min-width: 606px;
  }
}
@media (min-width: 1025px) {
  #modal_contact_us .first_container,
  #modal_contact_us .second_container {
    padding: 0 30px;
  }
  #modal_contact_us .contact_us__container {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media (max-width: 1024px) {
  #modal_contact_us .contact_us__container {
    flex-direction: column-reverse;
  }
  #modal_contact_us .first_container,
  #modal_contact_us .second_container {
    max-width: 100%;
    flex-basis: 100%;
  }
  #modal_contact_us h2.mob {
    display: block;
  }
  #modal_contact_us h2.desk {
    display: none;
  }
}

@media (max-width: 768px) {
  #modal_contact_us .agent {
    flex-direction: column;
  }
  #modal_contact_us .agent li {
    margin-right: 0;
  }
}
@media (max-width: 800px) {
  .feature_content:not(:nth-child(2)) {
    border-right-width: 0;
    border-right-style: initial;
    border-right-color: initial;
  }
}
@media screen and (max-width: 768px) {
  .feature_content:nth-child(2) {
    border-right-width: 0;
    border-right-style: initial;
    border-right-color: initial;
  }
  #modal_contact_us .contact_us__map {
    height: 291px;
  }
}
@media (max-width: 650px) {
  #modal_contact_us .submit {
    flex-direction: column;
    padding: 27px 0 44px;
    align-items: flex-start;
  }
  #modal_contact_us .submit .btn {
    width: 100%;
    margin-bottom: 44px;
  }
}
@media screen and (min-width: 576px) {
  .btn {
    width: auto;
    padding: 16px 29px;
  }
}
@media (max-width: 560px) {
  body {
    font-size: 14px;
    line-height: 1.64;
  }
  h2 {
    font-size: 24px;
    line-height: 1.3;
  }
  h3 {
    font-size: 20px;
    line-height: 1.5;
  }
}
@media (max-width: 575.8px) {
  .form_group .label_group > label {
    display: none;
  }
  .label_group > input::-moz-placeholder,
  .label_group > textarea::-moz-placeholder {
    color: #a9a9a9;
  }
  .label_group > input:-ms-input-placeholder,
  .label_group > textarea:-ms-input-placeholder {
    color: #a9a9a9;
  }
  .label_group > input::placeholder,
  .label_group > textarea::placeholder {
    color: #a9a9a9;
  }
}

#modal_contact_us.visible {
  top: 0;
  bottom: 0;
  height: 100%;
  //overflow: auto;
}

#modal_contact_us.visible .contact_us__map {
  visibility: inherit;
}
