.iframeVideo {
  margin: 5rem 0;

  &__title {
    text-align: center;
  }

  &__container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    margin: 2rem 0;
  }
}
